<app-header></app-header>
<div class="container">

  <h3>Lista de Personas</h3>
  <button type="button" (click)="mostrarFormulario()" (click)="hideData3()" (click)="hideData2()" (click)="hideData4()" class="btn btn-primary mt-2">Agregar persona</button>
  <hr>

  <form [formGroup]="datosCapturados" (ngSubmit)="Evento(datosCapturados.value)">
  <div class="row" *ngIf="nuevo == true">
    <h3>Agregar/Modificar Persona</h3>
    <div class="col-sm">
      <label for="exampleFormControlInput"><b>Nombre:</b></label>
      <input type="text" class="form-control" formControlName="nombre">
    </div>
    <div class="col-sm">
      <label for="exampleFormControlInput"><b>Apellido:</b></label>
      <input type="text" class="form-control" formControlName="apellido">
    </div>
    <div class="col-sm">
      <label for="exampleFormControlInput"><b>Genero:</b></label>
      <br>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" formControlName="genero" value="Masculino" (change)="hideData()">Masculino
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" formControlName="genero" value="Femenino" (change)="hideData()">Femenino
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" formControlName="genero" (change)="showData()">Otro:
        <div *ngIf="element == true">
          <input type="text" class="form-control" formControlName="genero">
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="btn-group me-2" role="group" *ngIf="element3 == false">
        <button type="submit" id="enviar" class="btn btn-success mt-2">Enviar</button>
      </div>
      <div class="btn-group me-2" role="group" *ngIf="element2 == true">
        <button type="submit" id="modificar" class="btn btn-success mt-2">Modificar</button>
      </div>
      <div class="btn-group me-2" role="group" *ngIf="element4 == true">
        <button type="submit" id="eliminar" class="btn btn-danger mt-2">Eliminar</button>
      </div>
      <div class="btn-group me-2">
        <button type="button" class="btn btn-secondary mt-2" (click)="cancelarFormulario()">Cancelar</button>
      </div>
    </div>
  </div>
  </form>
  <hr>

  <table class="table table-hover">
    <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Genero</th>
          <th scope="col">Acciones</th>
          <th scope="col"><input type="text" [(ngModel)]="searchValue" placeholder="Buscar..."></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let persona of listaPersonas | searchfilter:searchValue">
          <th scope="row">{{persona.idpersona}}</th>
          <td>{{persona.nombre}}</td>
          <td>{{persona.apellido}}</td>
          <td>{{persona.genero}}</td>
          <td>
            <input type="image" class="image" src="https://cdn.pixabay.com/photo/2019/04/08/20/26/pencil-4112898_960_720.png" height="25" width="25"
            (click)="getPersona(persona.idpersona)" (click)="mostrarFormulario()" (click)="showData3()" (click)="showData2()">
            <input type="image" class="image" src="https://cdn-icons-png.flaticon.com/512/58/58326.png" height="25" width="25" 
            (click)="mostrarFormulario()" (click)="showData3()" (click)="hideData2()" (click)="showData4()" (click)="getPersona(persona.idpersona)">
          </td>
          <td></td>
        </tr>
      </tbody>
</table>

</div>